Importing the dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv("C:\creditcard.csv")
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [7]:
#the dataset is unbalanced

In [8]:
#separating the data for analysis
legit = data[data.Class==0]
fraud = data[data.Class==1]

In [9]:
legit.shape

(284315, 31)

In [10]:
fraud.shape

(492, 31)

In [11]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
#comparing the legit and fraud data
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [14]:
#under sampling

In [15]:
#building a sample dataset containing a sample dataset of normal and fraud transactions

In [16]:
legit_sample = legit.sample(n=492)

In [17]:
data1=pd.concat([legit_sample,fraud],axis=0)

In [18]:
data1.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
171428,120634.0,-4.592959,-7.723808,-2.479363,-0.419576,-6.357762,4.070021,8.473887,-0.754347,-1.688493,...,1.392682,-0.560670,6.114529,-0.160681,0.281939,-0.784875,-0.898081,0.152505,2547.24,0
146436,87701.0,-1.237079,1.444952,0.184657,-2.741058,0.747014,-1.101740,1.329840,-0.179164,0.510590,...,-0.369756,-0.805038,-0.063875,0.750508,0.117955,0.349014,0.544565,0.355700,5.00,0
153374,98792.0,-0.468733,1.364506,2.099629,4.568974,1.179982,2.033249,0.468112,-0.076267,-0.234288,...,-0.126795,0.368932,-0.555524,0.052669,0.616647,0.639200,-0.204888,-0.124003,31.74,0
226135,144505.0,1.925772,-0.576807,-0.234816,0.430132,-0.910345,-0.389993,-0.759980,0.112390,1.110093,...,0.247159,0.844008,0.135552,0.117816,-0.300416,0.590344,-0.034169,-0.058638,18.10,0
71344,54263.0,-0.670942,0.925817,1.770665,-0.600809,0.717465,-0.334172,0.980272,-0.124483,-0.373030,...,-0.290870,-0.775712,-0.239371,-0.355593,0.148138,0.035585,-0.159144,-0.158799,1.29,0

In [19]:
data1['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [20]:
data1.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96592.436992,0.162605,-0.107829,0.002113,0.010095,0.031683,0.017578,0.097535,0.022820,-0.042218,...,-0.000763,0.010642,0.030427,-0.010563,-0.038966,-0.024502,-0.001194,-0.004380,-0.003212,94.291585
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [21]:
#splitting the data into features and targets

In [22]:
X=data1.drop('Class',axis=1)
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
171428,120634.0,-4.592959,-7.723808,-2.479363,-0.419576,-6.357762,4.070021,8.473887,-0.754347,-1.688493,...,5.835929,1.392682,-0.560670,6.114529,-0.160681,0.281939,-0.784875,-0.898081,0.152505,2547.24
146436,87701.0,-1.237079,1.444952,0.184657,-2.741058,0.747014,-1.101740,1.329840,-0.179164,0.510590,...,0.367353,-0.369756,-0.805038,-0.063875,0.750508,0.117955,0.349014,0.544565,0.355700,5.00
153374,98792.0,-0.468733,1.364506,2.099629,4.568974,1.179982,2.033249,0.468112,-0.076267,-0.234288,...,0.361865,-0.126795,0.368932,-0.555524,0.052669,0.616647,0.639200,-0.204888,-0.124003,31.74
226135,144505.0,1.925772,-0.576807,-0.234816,0.430132,-0.910345,-0.389993,-0.759980,0.112390,1.110093,...,-0.230206,0.247159,0.844008,0.135552,0.117816,-0.300416,0.590344,-0.034169,-0.058638,18.10
71344,54263.0,-0.670942,0.925817,1.770665,-0.600809,0.717465,-0.334172,0.980272,-0.124483,-0.373030,...,-0.057658,-0.290870,-0.775712,-0.239371,-0.355593,0.148138,0.035585,-0.159144,-0.158799,1.29

In [23]:
y=data1['Class']
y.head()

171428    0
146436    0
153374    0
226135    0
71344     0
Name: Class, dtype: int64

In [24]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=2,test_size=0.2,stratify=y)

In [25]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [26]:
#model training

In [27]:
def get_score(model,X_train,X_test,y_train,y_test):
    model.fit(X_train,y_train)
    y_predicted=model.predict(X_test)
    return accuracy_score(y_predicted,y_test)

In [28]:
get_score(LogisticRegression(),X_train,X_test,y_train,y_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9238578680203046

In [29]:
get_score(SVC(),X_train,X_test,y_train,y_test)

0.4873096446700508

In [30]:
get_score(RandomForestClassifier(),X_train,X_test,y_train,y_test)

0.9137055837563451

In [31]:
get_score(DecisionTreeClassifier(),X_train,X_test,y_train,y_test)

0.9137055837563451

In [32]:
model=LogisticRegression()

In [33]:
model.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [34]:
X_test_pred=model.predict(X_test)
X_test_pred

array([1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0],
      dtype=int64)

In [35]:
#training data accuracy
X_train_pred=model.predict(X_train)
train_data_acc=accuracy_score(X_train_pred,y_train)
print("Training data accuracy : ", train_data_acc)

Training data accuracy :  0.9453621346886912

In [36]:
#test data accuracy
test_data_acc=accuracy_score(X_test_pred,y_test)
print("Test data accuracy : ", test_data_acc)

Test data accuracy :  0.9238578680203046